<div class="panel panel-default container " ng-controller="guestlist" xmlns:ng="http://angularjs.org">

    <div class="panel-heading ">Посетители </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng:class="isActiveColumn('name')" ng:click="changeSorting('name')">Имя</th>
                <th ng:class="isActiveColumn('surname')" ng:click="changeSorting('surname')">Фамилия</th>
                <th ng:class=" isActiveColumn('status')" ng:click="changeSorting('status')">Статус</th>
                <th ng:class=" isActiveColumn('byWhomWasAdded')" ng:click="changeSorting('byWhomWasAdded')">Кто пригл.</th>
                <th ng:class=" isActiveColumn('transport')" ng:click="changeSorting('transport')">Как поед.?</th>
                <th ng:class=" isActiveColumn('brief')" ng:click="changeSorting('brief')">Ком.</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data">
                <td><a ng:href="#/editguest/{{ item.id }}/">
                    {{item.name}}
                </a></td>

                <td>{{item.surname}}</td>
                <td ng:class="setStatusIcon(item.status)"></td>

                <td>{{item.byWhomWasAdded}}</td>
                <td>{{item.transport}}</td>
                <td>{{item.brief}}</td>

                <td>
                    <button ng-click="removeguest({{ item.id }})" class="btn btn-danger">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-left">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="last()">
                Предыдущий
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn btn-primary" ng-disabled="currentPage >= totalPages-1"
                    ng-click="next()">
                Следующий
            </button>
        </div>
        <div class="pull-right">
            <button ng-click="newguest()" class="btn btn-success">Добавить</button>
        </div>
    </div>
</div>