<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Имя </span>
    <input type="text" class="form-control " placeholder="Имя" ng-model="model.name" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Фамилия</span>
    <input type="text" class="form-control " placeholder="Фамилия" ng-model="model.surname" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Зарплата</span>
    <input type="text" class="form-control " placeholder="0" ng-model="model.salary">
</div>
</p>



