<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Имя </span>
    <input type="text" class="form-control " placeholder="Имя" ng-model="model.name" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Фамилия</span>
    <input type="text" class="form-control " placeholder="Фамилия" ng-model="model.surname" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Статус</span>
    <select class="form-control " ng-model="model.status" ng-options="color.name for color in model.statusList"></select>
    <!--<input type="text" class="form-control " placeholder="Статус" ng-model="model.status" required>-->
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Комментарий</span>
    <input type="text" class="form-control " placeholder="Комментарий" ng-model="model.brief" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Кто пригласил</span>
    <input type="text" class="form-control " placeholder="Кто пригласил" ng-model="model.byWhomWasAdded" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Как будет добираться</span>
    <input type="text" class="form-control " placeholder="как будет добираться" ng-model="model.transport" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Подробнее</span>
    <input type="text" class="form-control " placeholder="..." ng-model="model.description" required>
</div>
</p>






