<div class="panel panel-default container " ng-controller="eventlist" xmlns:ng="http://angularjs.org">

    <div class="panel-heading ">Эвенты </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng:class="isActiveColumn('name')" ng:click="changeSorting('name')">Тема</th>
                <th ng:class=" isActiveColumn('webSite')" ng:click="changeSorting('webSite')">web site</th>
                <th ng:class=" isActiveColumn('path')" ng:click="changeSorting('path')">Путь до места</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data">
                <td><a ng:href="#/editevent/{{ item.id }}/">
                    {{item.name}}
                </a></td>

                <td>{{item.webSite}}</td>
                <td>{{item.path}}</td>

                <td><a ng:href="#/guestlist/event{{item.id}}/">
                    участники
                </a></td>

                <td>
                    <button ng-click="removeevent(item.id)" class="btn btn-danger">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pull-left">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="last()">
                Предыдущий
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn btn-primary" ng-disabled="currentPage >= totalPages-1"
                    ng-click="next()">
                Следующий
            </button>
        </div>
        <div class="pull-right">
            <button ng-click="newevent()" class="btn btn-success">Добавить событие</button>
            <a class="btn btn btn-info" target="_self" href="downloadEvents?type=pdf&token=58" download="test.html">Скачай отчёт</a>
        </div>
    </div>
</div>