<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Тема заметки </span>
    <input type="text" class="form-control " placeholder="Тема" ng-model="model.theme" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Дата</span>
    <input type="text" class="form-control " placeholder="Дата" ng-model="model.date" required>
</div>
</p>
<div class="input-group input-group-lg ">
    <span class="input-group-addon eLabel">Текст</span>
    <input type="text" class="form-control " placeholder="Текст заметки" ng-model="model.text" required>
</div>
</p>






